.env
.env.*
!.env.example

.git
.github
.claude
.vscode

node_modules
vendor

public/css
public/js
public/mix-manifest.json

storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

tests
README.md

